In [1]:
import numpy as np
import pandas as pd

In [2]:
box_score_12_18 = pd.read_csv('./nba-enhanced-stats/2012-18_teamBoxScore.csv')

In [3]:
box_score_12_18.shape

(14758, 123)

In [4]:
box_score_12_18.head()

,gmDate,gmTime,seasTyp,offLNm1,offFNm1,offLNm2,offFNm2,offLNm3,offFNm3,teamAbbr,...,opptFIC40,opptOrtg,opptDrtg,opptEDiff,opptPlay%,opptAR,opptAST/TO,opptSTL/TO,poss,pace
0,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,WAS,...,61.6667,105.6882,94.4447,11.2435,0.4390,16.7072,1.0476,33.3333,88.9409,88.9409
1,2012-10-30,19:00,Regular,Brothers,Tony,Smith,Michael,Workman,Haywoode,CLE,...,56.0417,94.4447,105.6882,-11.2435,0.3765,18.8679,2.0000,84.6154,88.9409,88.9409
2,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,BOS,...,80.8333,126.3381,112.6515,13.6866,0.5244,19.8287,3.1250,100.0000,94.9832,94.9832
3,2012-10-30,20:00,Regular,McCutchen,Monty,Wright,Sean,Fitzgerald,Kane,MIA,...,62.7083,112.6515,126.3381,-13.6866,0.4643,18.8501,1.5000,25.0000,94.9832,94.9832
4,2012-10-30,22:30,Regular,Foster,Scott,Zielinski,Gary,Dalen,Eric,DAL,...,58.6458,99.3678,108.1034,-8.7356,0.5000,18.6567,1.7143,42.8571,91.5790,91.5790

In [5]:
columns = ['gmDate', 'teamAbbr', 'teamRslt', 'teamLoc', 'teamDayOff', 'teamPTS',
           'teamAST', 'teamTO', 'teamSTL', 'teamBLK', 'teamPF',
           'teamFGA', 'teamFGM', 'team2PA', 'team2PM', 'team3PA',
           'team3PM', 'teamFTA', 'teamFTM', 'teamORB', 'teamDRB',
           'teamTRB', 'opptAbbr', 'opptRslt', 'opptDayOff', 'opptPTS',
           'opptAST', 'opptTO', 'opptSTL', 'opptBLK', 'opptPF',
           'opptFGA', 'opptFGM', 'oppt2PA', 'oppt2PM', 'oppt3PA',
           'oppt3PM', 'opptFTA', 'opptFTM', 'opptORB', 'opptDRB',
           'opptTRB', 'poss'
          ]

In [6]:
box_score_12_18 = box_score_12_18[columns]

In [7]:
box_score_12_18.replace({'Win': 1, 'Loss':0, 'Home':1, 'Away':0}, inplace=True)

In [8]:
box_score_12_18.head()

,gmDate,teamAbbr,teamRslt,teamLoc,teamDayOff,teamPTS,teamAST,teamTO,teamSTL,teamBLK,...,oppt2PA,oppt2PM,oppt3PA,oppt3PM,opptFTA,opptFTM,opptORB,opptDRB,opptTRB,poss
0,2012-10-30,WAS,0,0,0,84,26,13,11,10,...,59,29,20,7,22,15,18,36,54,88.9409
1,2012-10-30,CLE,1,1,0,94,22,21,7,5,...,58,24,32,8,20,12,18,21,39,88.9409
2,2012-10-30,BOS,0,0,0,107,24,16,4,2,...,63,35,16,8,32,26,5,31,36,94.9832
3,2012-10-30,MIA,1,1,0,120,25,8,8,5,...,62,33,13,6,28,23,7,34,41,94.9832
4,2012-10-30,DAL,1,0,0,99,22,12,9,5,...,64,35,13,3,31,12,15,31,46,91.5790

In [9]:
#separate seasons
start_13_14 = 2458
start_14_15 = 4918
start_15_16 = 7378
start_16_17 = 9838
start_17_18 = 12298

In [10]:
season_12_13 = box_score_12_18[0:start_13_14]
season_13_14 = box_score_12_18[start_13_14:start_14_15]
season_14_15 = box_score_12_18[start_14_15:start_15_16]
season_15_16 = box_score_12_18[start_15_16:start_16_17]
season_16_17 = box_score_12_18[start_16_17:start_17_18]
season_17_18 = box_score_12_18[start_17_18:]

In [11]:
stat_columns = ['teamPTS', 'teamAST', 'teamTO', 'teamSTL', 'teamBLK', 'teamPF',
                'teamFGA', 'teamFGM', 'team2PA', 'team2PM', 'team3PA', 'team3PM',
                'teamFTA', 'teamFTM', 'teamORB', 'teamDRB', 'teamTRB',
                'opptPTS', 'opptAST', 'opptTO', 'opptSTL', 'opptBLK', 'opptPF',
                'opptFGA', 'opptFGM', 'oppt2PA', 'oppt2PM', 'oppt3PA', 'oppt3PM',
                'opptFTA', 'opptFTM', 'opptORB', 'opptDRB', 'opptTRB', 'poss'
                ]

In [12]:
#teams_12_13 = season_12_13.groupby('teamAbbr', as_index=False)[stat_columns].expanding().mean()

In [13]:
#teams_12_13

In [14]:
season_12_13.shape

(2458, 43)

In [15]:
#season_12_13['PreviousPTS'] = season_12_13.apply(
#    lambda x: season_12_13[(season_12_13.teamAbbr == x.teamAbbr) & (season_12_13.gmDate < x.gmDate)].teamPTS.mean(), 
#axis=1)

In [16]:
season_12_13_new = season_12_13[['gmDate', 'teamAbbr', 'opptAbbr', 'teamLoc', 'teamDayOff', 'opptDayOff']]

In [17]:
season_12_13_new[['Wins', 'Losses']] = season_12_13.apply(
    lambda x: season_12_13[(season_12_13.teamAbbr == x.teamAbbr) & (season_12_13.gmDate < x.gmDate)][['teamRslt', 'opptRslt']].sum(), 
axis=1)

/home/pavle/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [18]:
season_12_13_new[50:70]

,gmDate,teamAbbr,opptAbbr,teamLoc,teamDayOff,opptDayOff,Wins,Losses
50,2012-11-03,BOS,WAS,0,1,4,0,2
51,2012-11-03,WAS,BOS,1,4,1,0,1
52,2012-11-03,SAC,IND,0,1,1,0,2
53,2012-11-03,IND,SAC,1,1,1,1,1
54,2012-11-03,DEN,MIA,0,1,1,0,2
55,2012-11-03,MIA,DEN,1,1,1,1,1
56,2012-11-03,TOR,BKN,0,3,0,0,1
57,2012-11-03,BKN,TOR,1,0,3,0,0
58,2012-11-03,NO,CHI,0,1,1,1,1
59,2012-11-03,CHI,NO,1,1,1,2,0
60,2012-11-03,POR,HOU,0,1,1,1,1
61,2012-11-03,HOU,POR,1,1,1,2,0
62,2012-11-03,CHA,DAL,0,1,3,1,0
63,2012-11-03,DAL,CHA,1,3,1,1,1
64,2012-11-03,CLE,MIL,0,1,1,1,1
65,2012-11-03,MIL,CLE,1,1,1,1,0
66,2012-11-03,UTA,SA,0,1,2,1,1
67,2012-11-03,SA,UTA,1,2,1,2,0
68,2012-11-03,GS,LAC,0,1,1,1,1
69,2012-11-03,LAC,GS,1,1,1,2,0

In [19]:
season_12_13_new[stat_columns] = season_12_13.apply(
    lambda x: season_12_13[(season_12_13.teamAbbr == x.teamAbbr) & (season_12_13.gmDate < x.gmDate)][stat_columns].mean(), 
axis=1)

In [24]:
season_12_13_new['Result'] = season_12_13['teamRslt']

In [25]:
season_12_13_new.shape

(2458, 44)

In [27]:
season_12_13_new[:10]

,gmDate,teamAbbr,opptAbbr,teamLoc,teamDayOff,opptDayOff,Wins,Losses,teamPTS,teamAST,...,oppt2PM,oppt3PA,oppt3PM,opptFTA,opptFTM,opptORB,opptDRB,opptTRB,poss,Result
0,2012-10-30,WAS,CLE,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2012-10-30,CLE,WAS,1,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2012-10-30,BOS,MIA,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2012-10-30,MIA,BOS,1,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2012-10-30,DAL,LAL,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5,2012-10-30,LAL,DAL,1,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
6,2012-10-31,DEN,PHI,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7,2012-10-31,PHI,DEN,1,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
8,2012-10-31,IND,TOR,0,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
9,2012-10-31,TOR,IND,1,0,0,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [28]:
season_12_13_new.to_csv('data/season_12_13_data.csv')

In [29]:
season_13_14_new = season_13_14[['gmDate', 'teamAbbr', 'opptAbbr', 'teamLoc', 'teamDayOff', 'opptDayOff']]

season_13_14_new[['Wins', 'Losses']] = season_13_14.apply(
    lambda x: season_13_14[(season_13_14.teamAbbr == x.teamAbbr) & (season_13_14.gmDate < x.gmDate)][['teamRslt', 'opptRslt']].sum(), 
axis=1)

season_13_14_new[stat_columns] = season_13_14.apply(
    lambda x: season_13_14[(season_13_14.teamAbbr == x.teamAbbr) & (season_13_14.gmDate < x.gmDate)][stat_columns].mean(), 
axis=1)

season_13_14_new['Result'] = season_13_14['teamRslt']

/home/pavle/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3391: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [30]:
season_13_14_new.to_csv('data/season_13_14_data.csv')

In [31]:
season_14_15_new = season_14_15[['gmDate', 'teamAbbr', 'opptAbbr', 'teamLoc', 'teamDayOff', 'opptDayOff']]

season_14_15_new[['Wins', 'Losses']] = season_14_15.apply(
    lambda x: season_14_15[(season_14_15.teamAbbr == x.teamAbbr) & (season_14_15.gmDate < x.gmDate)][['teamRslt', 'opptRslt']].sum(), 
axis=1)

season_14_15_new[stat_columns] = season_14_15.apply(
    lambda x: season_14_15[(season_14_15.teamAbbr == x.teamAbbr) & (season_14_15.gmDate < x.gmDate)][stat_columns].mean(), 
axis=1)

season_14_15_new['Result'] = season_14_15['teamRslt']

In [32]:
season_14_15_new.to_csv('data/season_14_15_data.csv')

In [33]:
season_15_16_new = season_15_16[['gmDate', 'teamAbbr', 'opptAbbr', 'teamLoc', 'teamDayOff', 'opptDayOff']]

season_15_16_new[['Wins', 'Losses']] = season_15_16.apply(
    lambda x: season_15_16[(season_15_16.teamAbbr == x.teamAbbr) & (season_15_16.gmDate < x.gmDate)][['teamRslt', 'opptRslt']].sum(), 
axis=1)

season_15_16_new[stat_columns] = season_15_16.apply(
    lambda x: season_15_16[(season_15_16.teamAbbr == x.teamAbbr) & (season_15_16.gmDate < x.gmDate)][stat_columns].mean(), 
axis=1)

season_15_16_new['Result'] = season_15_16['teamRslt']

In [34]:
season_15_16_new.to_csv('data/season_15_16_data.csv')

In [35]:
season_16_17_new = season_16_17[['gmDate', 'teamAbbr', 'opptAbbr', 'teamLoc', 'teamDayOff', 'opptDayOff']]

season_16_17_new[['Wins', 'Losses']] = season_16_17.apply(
    lambda x: season_16_17[(season_16_17.teamAbbr == x.teamAbbr) & (season_16_17.gmDate < x.gmDate)][['teamRslt', 'opptRslt']].sum(), 
axis=1)

season_16_17_new[stat_columns] = season_16_17.apply(
    lambda x: season_16_17[(season_16_17.teamAbbr == x.teamAbbr) & (season_16_17.gmDate < x.gmDate)][stat_columns].mean(), 
axis=1)

season_16_17_new['Result'] = season_16_17['teamRslt']

In [36]:
season_16_17_new.to_csv('data/season_16_17_data.csv')

In [37]:
season_17_18_new = season_17_18[['gmDate', 'teamAbbr', 'opptAbbr', 'teamLoc', 'teamDayOff', 'opptDayOff']]

season_17_18_new[['Wins', 'Losses']] = season_17_18.apply(
    lambda x: season_17_18[(season_17_18.teamAbbr == x.teamAbbr) & (season_17_18.gmDate < x.gmDate)][['teamRslt', 'opptRslt']].sum(), 
axis=1)

season_17_18_new[stat_columns] = season_17_18.apply(
    lambda x: season_17_18[(season_17_18.teamAbbr == x.teamAbbr) & (season_17_18.gmDate < x.gmDate)][stat_columns].mean(), 
axis=1)

season_17_18_new['Result'] = season_17_18['teamRslt']

In [38]:
season_17_18_new.to_csv('data/season_17_18_data.csv')